{% extends "uhc/layout.html" %}
{% block content %}
Opening Statement:

<h1>
    Welcome to the Cross River State Universal Healthcare Reporting Form.
</h1> 
    <p>This initiative aims to gather essential data from various ministries to support 
    the successful rollout of a comprehensive and inclusive healthcare system.
    Your input is crucial in shaping policies, improving service delivery, and ensuring equitable access 
    to quality healthcare for all residents of Cross River State. Kindly provide accurate and 
    detailed responses to help us build a healthier future together. 
    Thank you for your cooperation.
    </p>


{% endblock  %}


